$primary: rgb(255, 255, 255);
$secondary: #e7b667;
$white: #fff;
$black : rgb(68, 68, 68);

$z-index-sidebar: 1000;
$z-index-header: 900;
$z-index-preloader: 700;
$z-index-modal: 2000;

$laptopL-bp: 1440px;
$laptop-bp: 1100px;
$tablet-bp: 768px;
$tabletS-bp: 550px;
$mobileL-bp: 414px;
$mobileS-bp: 320px;


